:root {
    --text-primary: #000;
    --bgPrimary: #fff;
    --bgSecondary: #F9F9F9;
    --pink: #0071bd;
    --light-blue: #e6f7ff;
    --border: #d9d9d9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: var(--pink) !important;
}

.App {
    display: flex;
    overflow: hidden;
    background: #232526;
    background: -webkit-linear-gradient(to right, #414345, #232526);
    background: linear-gradient(to right, #414345, #232526);
}

.stats-container p {
    color: white;
}

.main {
    flex: 0.8;
    width: 100%;
}

.routes {
    padding: 20px;
}

.nav-container,
.ant-layout-sider-trigger {
    background: rgba(255, 255, 255, 0.1) !important;
    border-right: 1px solid white;
    color: white;
}

.ant-typography a {
    font-weight: 100;
    font-size: 16px;
    color: gray;
}

.logo-container {
    display: flex;
    padding: 20px;
    align-items: center;
    width: 100%;
}

.logo {
    margin: 0 0 0 15px;
}

.logo a {
    color: white;
}

.ant-avatar-lg {
    width: 50px;
    height: 100px;
    line-height: 38px;
    border-radius: 50%;
}

.menu-control-container {
    display: none !important;
    position: absolute !important;
    right: 10px !important;
    top: 25px !important;
    font-size: 1.2rem !important;
    background-color: var(--bgSecondary) !important;
    border: none !important;
}

.menu {
    background: transparent !important;
    color: white;
}

.loader {
    height: 81vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ant-layout {
    background: none;
}

.ant-statistic-title {
    margin-bottom: 4px;
    color: grey !important;
    font-size: 14px;
}

.ant-card {
    background-color: rgba(245, 245, 245, 0.8) !important;
    backdrop-filter: blur(50px) saturate(150%) !important;
}

.sider {
    overflow: auto !important;
    height: 100vh !important;
    position: fixed !important;
    left: 0 !important;
    top: 0 !important;
    bottom: 0 !important;
}

.navbar {
    flex: 0.15;
}

@media screen and (max-width: 800px) {
    .app {
        flex-direction: column;
        overflow: hidden;
    }

    .navbar {
        flex: 0.35;
    }

    .main {
        flex: 1;
        margin-top: 90px;
        margin-left: 0px;
        margin-right: 10px;
    }

    .nav-container {
        height: 8vh;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .menu-control-container {
        display: block !important;
    }

    .ant-menu {
        right: 0px;
    }

    .home-title {
        font-size: 1.4rem !important;
    }

    .show-more {
        font-size: 1.3rem !important;
    }
}

.coin-detail-container {
    margin: 30px;
}

.coin-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--border);
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 10px;
}

.coin-heading-container .coin-name {
    font-weight: 900;
    color: rgb(222, 176, 91);
}

.coin-heading-container p {
    font-size: 1rem;
    opacity: 0.9;
    margin-bottom: 20px;
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.stats-container h2 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-top: 20px;
    color: var(--pink);
}

.coin-details-heading,
.coin-stats {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
    color: white important;
}

.coin-stats .ant-typography {
    color: white !important;
}

.coin-desc-link,
.coin-links {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    padding-top: 20px;
}

.coin-desc-link h2 {
    font-weight: 700;
    color: var(--pink);
}

.coin-desc-link p,
.coin-desc-link a {
    font-size: 1rem;
    opacity: 0.9;
    color: var(--pink);
}

.coin-desc-link h3 {
    font-weight: 700;
}

.coin-desc {
    flex: 0.5;
}

.coin-links {
    padding: 0px 20px;
    flex: 0.5;
}

.coin-link,
.link-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border);
    padding: 20px;
}

.link-name {
    text-transform: capitalize;
    font-size: 1rem;
}

.coin-link a {
    color: var(--pink);
    font-weight: 700;
    font-size: 1rem;
}

.coin-link:hover,
.coin-stats:hover {
    background-color: grey;
}

@media screen and (max-width: 1000px) {
    .stats-container,
    .coin-desc-link {
        flex-direction: column;
    }

    .stats-container h2 {
        margin-top: 0px;
    }
}

@media screen and (max-width: 500px) {
    .coin-links {
        padding: 0px;
    }

    .coin-detail-container {
        margin: 0;
    }

    .heading {
        margin-top: 20px;
    }
}

.select-news {
    width: 180px;
}

.news-card {
    min-height: 300px !important;
}

.news-image-container {
    display: flex !important;
    justify-content: space-between !important;
}

.news-title {
    width: 70%;
}

.news-image-container .img {
    width: 100px;
    height: 100px;
}

.news-card p {
    color: black;
    margin: 10px 0px !important;
}

.provider-container {
    display: flex;
    justify-content: space-between;
}

.provider-name {
    margin-left: 10px;
}

.chart-header {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}

.chart-title {
    color: rgb(222, 176, 91) !important;
}

.price-container {
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

.price-change,
.current-price {
    margin-top: 0px !important;
    font-weight: 900 !important;
    color: rgb(246, 242, 242) !important;
}

.home-heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.show-more {
    margin-top: 0px !important;
}

.exchange-image {
    margin: 0px 10px !important;
}

.search-crypto {
    margin: 20px auto 30px auto;
    width: 250px;
}

.crypto-card-container {
    min-height: 65vh !important;
}

.crypto-card {
    min-width: 250px;
}

.crypto-card .crypto-image {
    width: 35px;
}

.select-timeperiod {
    width: 200px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.footer {
    display: flex;
    position: fixed !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 20px;
    text-align: center;
}
